
  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false">Home</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Home</a></li>
        <li><a class="dropdown-item" href="/sighting">create new sighting</a></li>
        <li><a class="dropdown-item" href="/shapes">shapes listing</a></li>
      </ul>
    </li>
  </ul>

